

.center {
    margin: auto;
    width: 50%;
    padding: 30px;
}

.center-inner {
    display: block
    margin-left: auto;
    margin-right: auto;
}

.rainbow-text {
            font-family: Arial, sans-serif;
            font-size: 48px;
            font-weight: bold;
            text-transform: uppercase;
            background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
form {
  text-align: center;
}