<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEDZIAKI</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/convStyle.css">




</head>

<body>


<h1 id="main-title">PROJEKT LEDZIAKI</h1>
<div id="input-outer">
    <div id="input-container-main">
        <div id="input-container-1">
            <form class="center input-container-1" action="/data" method = "POST" autocomplete="off">
                <p class="center-inner">Wpisz swój tekst <input class="center-inner" type = "text" name = "text" /></p>
                <p class="center-inner"> Kolor <input type = "color" name = "color" id = "col"></p>
                <p ><input class = "button" type = "submit" value = "Zatwiedź" /></p>
            </form>
        </div>
    </div>
</div>


</body>